.contact {
  margin: auto;
  padding: auto;
}

.contact h1 {
  text-align: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 400px;
  margin: auto;
  font-size: 20px;
  gap: 10px;
}

.contact form input {
  outline: none;
  color: #5c5c5c;
  font-size: 30px;
}