.loginsingup {
  width: 100%;
  height: 80vh;
  background: #fce3fe;
  padding-top: 100px;
}

.loginsingup-container {
  width: 580px;
  height: 600px;
  background: white;
  margin: auto;
  padding: 40px 60px;
}

.loginsingup-container h1 {
  margin: 20px 0px;
}

.loginsingup-fields {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: 30px;
}

.loginsingup-fields input {
  height: 72px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  outline: none;
  color: #5c5c5c;
  font-size: 18px;
}

.loginsingup-container button {
  width: 580px;
  height: 72px;
  color: white;
  background: #ff4141;
  margin-top: 30px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.loginsingup-login {
  margin-top: 20px;
  color: #5c5c5c;
  font-size: 18px;
  font-weight: 500;
}

.loginsingup-login span {
  color: #ff4141;
  font-weight: 600;
}

.loginsingup-agree {
  display: flex;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
  font-weight: 500;
  font-size: 18px;
  color: #5c5c5c;
}

@media(max-width:1280px) {
  .loginsingup {
    padding-top: 50px;
  }

  .loginsingup-container {
    width: auto;
    max-width: 500px;
    max-height: 500px;
  }

  .loginsingup-container h1 {
    margin: 10px 0px;
  }

  .loginsingup-fields {
    gap: 20px;
    margin-top: 20px;
  }

  .loginsingup-fields input {
    height: 65px;
    width: 93%;
  }

  .loginsingup-container button {
    width: 100%;
  }

  .loginsingup-login {
    font-size: 16px;
  }

  .loginsingup-agree {
    font-size: 14px;
    gap: 10px;
  }
}

@media(max-width:800px) {
  .loginsingup-container {
    padding: 20px 30px;
  }

  .loginsingup-container h1 {
    font-size: 24px;
  }

  .loginsingup-fields {
    margin-top: 20px;
  }

  .loginsingup-fields input {
    height: 50px;
  }

  .loginsingup-container button {
    height: 50px;
    font-size: 16px;
  }
}